@import '../styles/variables.module.less';

.appWrapper {
    min-width: 600px;
    max-width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 80px 1fr  auto;
    grid-template-columns: minmax(0%, 180px) minmax(250px, 1fr);
    grid-template-areas:
        "header header"
        "nav content"
        "footer footer";
    overflow: hidden;
    background-color: @background_dark_light;
}

.headerWrapper {
    grid-area: header;
    height: 100%;
    // border: 1px solid darkblue;
}

.navBarWrapper {
    grid-area: nav;
    // border: 1px solid khaki;
}

.contentWrapper {
    grid-area: content;
    display: flex;
    justify-content: flex-start;
    // border: 1px solid fuchsia;
}

.footerWrapper {
    grid-area: footer;
    // border: 1px solid lawngreen;
}
