.loginContainer {
    display: grid;
    width: 100%;
    justify-items: center;
    align-content: flex-start;
};

.autorizationError {
    margin: var(--margin_middle);
    font-size: large;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--error_message_text);
};